body {
    font-family: Arial, sans-serif;
    background-color: #fe5000d6;
    margin: 0;
    text-align: center;

}

.loginbutton {
    display: inline-block;
    margin-right: 20px;
}

.MenuBtn {
    display: inline-block;
    margin-right: 10px;
    right: 20px;
    top: 12px;
    z-index: 1200;
}
.sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    background-color: #030f3c;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding-top: 60px;
    z-index: 1100;
    display: block;
    text-align: left;
}

.sideMenu a {
    display: block;
    color: #fff;
    padding: 12px 20px;
}

.sideMenu.open {
    transform: translateX(0);
}

.closeMenu {
    position: absolute;
    top: 8px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

header {
    background-color: #030f3c;
    text-align: right;
    padding: 10px 0;
    padding-bottom: 10px;
    position: relative;

}

.title-header {
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
.linkaccountcreate {
    font-style: italic;
    color: #030f3c;
    text-decoration: none;
    
}
.loginForm {
    margin-top: 20px;
    text-align: left;
}
nav a:hover {
    background-color: #fe5000cf;
    border-radius: 5px;

}

main {
    max-width: 390px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(10, 2, 2, 0.365);
    border-radius: 15px;
}
section {   margin-bottom: 90px;
}
.Welcome {
    margin-bottom: 0;
}



footer {
    background-color: #030f3c;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}